*,
* :after,
*:before {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

body {

  font-family: Arial, Halvetica, sans-serif;
  background-color: #9b9b9b;

}

* {
  list-style: none;
}

.container {
  display: flex;
  padding: 20px;
  flex-flow: column;
}